.success-message {
    display: inline-block;
    color: #fff;
    background-color: rgb(55, 194, 74);
    padding-left: 10px;
    display: none;
}
.successful-message {
    display: inline-block;
    color: #fff;
    background-color: rgb(55, 194, 74);
    padding-left: 10px;
    display: block;
    margin-left: 60px;
}
#body-div {
    border: solid 2px lightgray;
    width: 705px
}
img {
    width: 700px;
}
h3 {
    font-weight: bolder;
}
.red-asterisk {
    color: red;
    margin-left: 3px;
}
.sansserif * {
    font-family: Arial, Helvetica, sans-serif;
}
.error {
    display: none;
    color: red;
    font-size: smaller;
    margin-bottom: -1rem;
}
label {
    margin-top: 10px;
    margin-bottom: -10px;
}
.hr-line {
    width: 100%;
}
.no-outline:focus {
    outline: none;
}
.align {
    text-align: right;
}